<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Restaurant</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/script.js"></script>
    <script>
    
    </script>
</head>

<body>
    <form action="/home" method="GET">
        <button type="submit">Home</button>
    </form>
    <form action="/editRest" method="POST">        
    <div id="titleBox">
        <h1 id="restaurant"><%= name %></h1>
        <input type="text" value="<%= name %>" name="restPage" hidden>
        <button type="button" id="editBtn">Edit</button>
        <button type="submit" id="editSubmit" class="hidden">Submit</button>
    </div>
    </form>
    <div id="mainCont">
        <div id="reviews">
            <% for(let i=0; i < reviews.length; i++){ %>
            <div class="reviewBox">
                <li>User <%= reviews[i].userId %> wrote: <%= reviews[i].body %></li>
                <li>Rating: <%= reviews[i].rating %></li>
                <form action="/removeRev" method="POST">
                    <input type="text" value="<%= reviews[i].body %>" name="body" hidden>
                    <input type="text" value="<%= name %>" name="restPage" hidden>
                    <button type="submit">Delete</button>
                </form>
            </div>
            <% } %>
        </div>
        <h3>Commenting as <%= username %></h3>
        <form action="/addReview" method="POST">
            <input type="text" value="<%= username %>" name="username" hidden>
            <input type="text" value="<%= name %>" name="restName" hidden>
            <input type="text" name="body" placeholder="write your review here..." required>
            <select name="rating" required>
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div id="footerCont">

    </div>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log out</button>
    </form>
</body>

</html>